<%= form_for(@ute_experiment) do |f| %>
  <% if @ute_experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ute_experiment.errors.count, "error") %> prohibited this ute_experiment from being saved:</h2>

      <ul>
      <% @ute_experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :experiment_code %><br>
    <%= f.text_field :experiment_code %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :is_private %><br>
    <%= f.check_box :is_private %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
