<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= portal_experimentlist_path %>">UTE - My Portal</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
          <!-- /.dropdown -->
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                  <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                  </li>
                  <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                  </li>-->
                  <li class="divider"></li>
                  <li><a href="<%= users_logout_path %>"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                  </li>
              </ul>
              <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->

      <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
              <ul class="nav" id="side-menu">
                  <!--<li class="sidebar-search">
                      <div class="input-group custom-search-form">
                          <input type="text" class="form-control" placeholder="Search...">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                      </div>-->
                      <!-- /input-group -->
                  <!--</li>-->
                  <li class="active">
                      <a data-no-turbolink="true" href="<%= portal_experimentlist_path %>"><i class="fa fa-table fa-fw"></i> Experiments</a>
                  </li>
                  <li>
                      <a data-no-turbolink="true" href=""><i class="fa fa-lightbulb-o fa-fw"></i> Analyse</a>
                  </li>
                  <li>
                      <a data-no-turbolink="true" href=""><i class="fa fa-cube fa-fw"></i> Simulate</a>
                  </li>
                  <li>
                      <a data-no-turbolink="true" href=""><i class="fa fa-bookmark fa-fw"></i> Integrate</a>
                  </li>
                  <li>
                      <a data-no-turbolink="true" href=""><i class="fa fa-area-chart fa-fw"></i> Visualise</a>
                  </li>
                  <li>
                      <a data-no-turbolink="true" href=""><i class="fa fa-archive fa-fw"></i> Archived</a>
                  </li>
              </ul>
          </div>
          <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <!--Listing of Recorded Sessions-->
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  
                        <%= link_to("Experiments", { controller: "portal", action: "experimentlist" }, { :data => { :no_turbolink => true } }) %>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> Experiment - <%= @experiment.experiment_code %>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <h3>Paired Devices</h3>
            <hr/>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                      <thead>
                          <tr>
                              <th>Device 1</th>
                              <th>Device 2</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% if @paireddevices.count == 0 %>
                          <tr class="">
                            <td colspan='3'></b>No paired devices. </b></td>
                          </tr>
                        <% end %>

                          <% @paireddevices.each do |paired| %>
                            <tr class="ute-row-paired-<%= paired.id %>">
                              <td><%= paired.device_id1 %></td>
                              <td><%= paired.device_id2 %></td>
                              <td>
                                <% if experiment.owner == session[:user_id] %>
                                  <input type="button" class="btn btn-danger btn-sm ute-btn-delete" data-ute-exid="<%= @experiment.id %>" data-ute-pairid="<%= paired.id %>" data-ute-device1="<%= paired.device_id1 %>" data-ute-device2="<%= paired.device_id2 %>" value="Remove pairing" %> />
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<% content_for :js do %>
  
<% end %>

<script type="application/javascript">
  // setup delete confirmation modal
  var onreadySetup = function() {
    // Delete confirmation modals
    $('.ute-btn-delete').on('click', function(e) {
      e.preventDefault();
      var thisobject = this;
      var experimentId = $(thisobject).data('ute-exid');
      var pairedId = $(thisobject).data('ute-pairid');     
      var deviceid1 = $(thisobject).data('ute-device1');
      var deviceid2 = $(thisobject).data('ute-device2');
      $('#remove-modal-device1').html(deviceid1);
      $('#remove-modal-device2').html(deviceid2); 
      $('#confirmremovemodal').modal({ backdrop: 'static', keyboard: false })
                              .one('click', '#experiment-btn-remove', function() {
                                //alert('ALERT');
                                $.ajax({
                                  url: '<%= portal_experiment_removepaireddevices_path %>',
                                  method: 'POST',
                                  data: {
                                    experiment_id: experimentId,
                                    paired_id = pairedId
                                  },
                                  success: function(dataObject) {
                                    if((dataObject != null || dataObject != undefined) && dataObject.success) {
                                        $(".ute-row-paired-" + pairedId).remove();
                                      }
                                  }
                                });
                              });

    });
  }
  onreadySetup();
</script>

<div id="confirmremovemodal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Would you like to remove this device pairing?
        <label id="remove-modal-device1"> </label> +-+ <label id="remove-modal-device2"> </label>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="experiment-btn-remove">Remove Paired Devices</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>

 
<br>
